* {
    box-sizing: border-box;
  }
  
  body {
    padding: 10px;
    background: #FFFFFF;
    color:#404040;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
  }
  

  .header {
    padding: 25px;
    text-align: center;
    background: white;
    color: #7E7E7E;
    letter-spacing: 8px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
  }
  
  .header h1 {
    font-size: 50px;
    text-decoration: underline overline;
  }
  

  .topnav {
    overflow: hidden;
    background-color: #E6DDCD;
  }
  

.h3 {
    float: left;
    display: block;
    color: #7E7E7E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .h4 {
    background-color: #FDFCFB;
    color: black;
  }
  
  
  .footer {
    padding: 20px;
    text-align: center;
    background: #E2BFC0;
    margin-top: 20px;
  }
  
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
